{% extends "layouts/main.html" %}

{% set pageName = "How old are you?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["baby-age"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["baby-age"], href: "#baby-age" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukRadios({
      name: "baby-age",
      fieldset: {
        legend: {
          text: "How old are you?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      errorMessage: errors["baby-age"] if errors else null,
      value: data["baby-age"],
      items: [
        { value: "0-3-months", text: "0 to 3 months" },
        { value: "4-6-months", text: "4 to 6 months" },
        { value: "7-12-months", text: "7 to 12 months" },
        { value: "over-12-months", text: "Over 12 months" }
      ]
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
