{% extends "layouts/main.html" %}

{% set pageName = "Do you have any special feeding needs?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors["special-instructions"] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{ text: errors["special-instructions"], href: "#special-instructions" }]
    }) }}
    {% endif %}

    <form method="post" novalidate>
    {{ govukTextarea({
      id: "special-instructions",
      name: "special-instructions",
      label: {
        text: "Do you have any special feeding needs?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "For example, if you need your bottle warmed to a certain temperature or prefer a certain feeding position." },
      errorMessage: errors["special-instructions"] if errors else null,
      value: data["special-instructions"],
      rows: 5
    }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
